# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight Stratis Client
Exec=electrum-stratis %u
GenericName[en_US]=Electrum-Stratis
GenericName=Electrum-Stratis
Icon=electrum-stratis
Name[en_US]=Electrum Stratis Wallet
Name=Electrum Stratis Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/stratis;